@model Store

@{
	Layout = "_HomeLayout";
	ViewData["Title"] = "Dashboard";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Dashboard.css" />
</head>

<div class="dashboardContainer">
    <h2>Dashboard</h2>
    <h2>@Model.StoreName</h2>
    <input type="hidden" asp-for="StoreId" />

    <div class="container-grid">
        <a asp-controller="Products" asp-action="Index" asp-route-id="@Model.StoreId">
            <div class="gallery">
                <img src="~/images/product.png" />
                <div class="desc">
                    <h4>Products</h4>
                </div>
            </div>
        </a>

        <a asp-action="Orders" asp-route-StoreID="@Model.StoreId">
            <div class="gallery">
                <img src="~/images/dashboard_orders.jpg" />
                <div class="desc">
                    <h4>Order</h4>
                </div>
            </div>
        </a>
        <a  asp-controller="Blogs"   asp-action="Create" asp-route-id="@Model.StoreId">
            <div class="gallery">
                <img src="~/images/dashboard_blog.png" />
                <div class="desc">
                    <h4>Blogs</h4>
                </div>
            </div>
            </a>

            <div class="gallery">
                <img src="~/images/dashboard_subscribers.png" />
                <div class="desc">
                    <h4>Subscribers</h4>
                </div>
            </div>
            <div>
                <a id="Productlist" asp-action="Productlist" asp-route-id="@Model.StoreId">
                    <div class="gallery">
                        <div class="desc">
                            <h4>STORE PAGE FOR BUYER</h4>
                        </div>
                    </div>
                </a>
            </div>
    </div>
</div>