@model OneStopShop.Models.Product

@{
	ViewData["Title"] = "Product Details";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/ProductDetails.css" />
</head>
<div class="details-container">
    <h2>Product Details</h2>
    <div class="image">
        <img src="~/@Model.ProductImage" id="Image" />
    </div>
    <div id="divInline">
        <table>
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductName)</td>
                <td>@Html.DisplayFor(model => model.ProductName)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductDescription)</td>
                <td>@Html.DisplayFor(model => model.ProductDescription)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductSize)</td>
                <td>@Html.DisplayFor(model => model.ProductSize)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductPrice)</td>
                <td>@Html.DisplayFor(model => model.ProductPrice)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductColor)</td>
                <td>@Html.DisplayFor(model => model.ProductColor)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductCreatedDate)</td>
                <td>@Html.DisplayFor(model => model.ProductCreatedDate)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductModifiedDate)</td>
                <td>@Html.DisplayFor(model => model.ProductModifiedDate)</td>
            </tr>
            <tr>
                <td>
                    <form asp-action="Delete" asp-route-id="@Model.ProductID" method="post">
                        <a class="btn btn-warning" id="Edit" asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a>&nbsp;
                        <span id="confirmDeleteSpan_@Model.ProductID" style="display:none">
                            <br /><br />
                            <span>Are you sure you want to delete?</span><br />
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@Model.ProductID', false)">No</a>
                        </span>
                        <span id="deleteSpan_@Model.ProductID">
                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@Model.ProductID', true)">Delete</a>
                        </span>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<a class="btn btn-primary" id="Back" asp-action="Back">Back to List</a>

@section Scripts {
	<script src="~/js/DeleteConfirmation.js"></script>
}