@model IEnumerable<OneStopShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
   
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StoreIndex.css" />
</head>

<body>
<div id="divInline"> 
    <a id="Create" asp-action="Create">Create New</a>
</div>
<div id="div">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    <a id="Edit" asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> 
                    <a id="Details" asp-action="Details" asp-route-id="@item.ProductID">Details</a> 
                    <a id="Delete" asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
</body>