
@model Tuple<IList<OneStopShop.Models.Product>, OneStopShop.Models.Store>
@{
	Layout = "_HomeLayout";
	ViewData["Title"] = "ProductList";
}

<h2 class="text-white">@Model.Item2.StoreName</h2>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" type="text/css" href="~/css/StorePageBuyer.css" />

    <script src="//code.jquery.com/jquery.min.js"></script>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {

            $('#products .item').removeClass('list-group-item');
            $('#products .item').addClass('grid-group-item');

        });
    </script>
</head>

<div class="container">
    <div class="row searchFilter">
        <div class="col-sm-12">
            <form asp-action="ProductSearch" method="get">
                <div class="form-actions no-color">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input id="table_filter" type="text" class="col-md-4 search-input" name="SearchString" value="@ViewData["CurrentFilter"]" />
                            <button id="searchBtn" type="submit" class="btn btn-secondary btn-search" style="margin-left:5px;"><span class="glyphicon glyphicon-search">&nbsp;</span> <span class="label-icon">Search</span></button>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-primary text-white mr-1" data-toggle="tooltip" data-placement="top" title="Subscribe Store" asp-controller="Subscribers" asp-action="JoinStore" asp-route-StoreId="@Model.Item2.StoreId">
                        <i class="fas fa-plus" title="Join Club"></i>  Join
                    </a>
                    <a  style="float:right;" asp-action="Create" asp-controller="CustomOrders" asp-route-id="@Model.Item2.StoreId" class="btn btn-danger">Custom Order Form</a>
                </div>
            </form>
            @*<div>
                <a asp-action="Create" asp-controller="CustomOrders" asp-route-id="@Model.Item2.StoreId" class="btn btn-danger">Custom Order Form</a>
            </div>*@

            <div class="col-sm-6">
                <a asp-action="Index" asp-controller="Blogs" asp-route-StoreId="@Model.Item2.StoreId">Blogs</a>
            </div>
        </div>             
             
    </div>
</div>

<div id="products" class="row list-group">
    @foreach (var item in Model.Item1)
    {
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <a asp-action="ViewProduct" asp-route-id="@item.ProductID">
                    <img class="group list-group-image" src="~/@item.ProductImage" id="Image" />
                </a>
                <div class="caption text-white">
                    <h4 class="group inner list-group-item-heading">
                        @item.ProductName
                    </h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $@item.ProductPrice
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



