@model OneStopShop.Models.Users
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
    string userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}

<link href="~/css/Account.css" rel="stylesheet" />
<div class="details-container">
	<h2 class="text-center text-white">User Details</h2>
	<table class="account-table">
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.Username)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.Username)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.Password)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.Password)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.Address)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.Address)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.email)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.email)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.PhoneNum)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.PhoneNum)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.AccountType)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.AccountType)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.BankName)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.BankName)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.AccountNumber)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.AccountNumber)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.TransitNumber)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.TransitNumber)
			</td>
		</tr>
		<tr>
			<td class="">
				@Html.DisplayNameFor(model => model.InstitutionNumber)
			</td>
			<td class="">
				@Html.DisplayFor(model => model.InstitutionNumber)
			</td>
		</tr>
	</table>
	<div class="text-center pt-3 col">
		<a class="btn btn-warning cen" asp-action="Edit" asp-route-id="@Model.UserID">Edit</a>
		@if (userRole == "Buyer")
		{
			<a class="btn btn-primary" asp-action="ViewOrders" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetString("UserId")">Orders</a>
		}
	</div>
	<a class="btn btn-primary mt-5" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

