@model Tuple<OneStopShop.Models.Orders, List<OneStopShop.Models.Product>>
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Index";
}
<br />
<h2 class="wishlist">Order Deatils</h2>
<br />
<head>
    <link rel="stylesheet" type="text/css" href="~/css/WishList.css" />
</head>

<div style="color: white;">

    <span>OrderId: @Model.Item1.OrderId</span><br/>
    <span>Created date: @Model.Item1.OrderCreatedDate</span><br />
    <span>Total Cost: @Model.Item1.TotalCost</span><br />
    <span>Shipping Address: @Model.Item1.CustomerName</span><br />
    <span>                 @Model.Item1.Line1</span><br />
    <span>                 @Model.Item1.Line2</span><br />
    <span>                 @Model.Item1.City</span><br />
    <span>                 @Model.Item1.Zip</span>
</div>

@foreach (var item in Model.Item2)
{
    <div id="products" class="row list-group">
        <table class="table">
            <tr>
                <td>
                    <img width="170" height="170" src="~/@item.ProductImage" />
                </td>
                <td style="color: white;font-size: x-large;">
                    Product Name  : @item.ProductName <br />
                    Product Price : @item.ProductPrice.ToString("c") <br />
                    Product Color : @item.ProductColor <br />
                    Sold By:Store#: @item.StoreId
                </td>
            </tr>
        </table>
    </div>
}
