@using OneStopShop.Models
@model ViewModel

@{
	Layout = "_HomeLayout";
	ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/css/Index.css" rel="stylesheet" />
</head>

<div class="coverimage">
	<img id="cover" src="~/images/homepage_cover.jpg" />
	<div class="centered">
		<h2>One Stop Shop</h2>
		<a class="btn" href="#stores">SHOP NOW</a>
	</div>
</div>
<div class="club-container" id="stores">
    <h2 class="text-center pb-2">Stores</h2>
    <div class="slider-carousel owl-carousel clubs-carousel">
        @if (Model != null)
        {
            @if (Model.store.Count >= 3)
            {
                @foreach (var item in Model.store)
                {
                    <div class="card-carsoule col-sm-8">
                        <div class="img-carousel">
                            <a class="success" asp-controller="Stores" asp-action="Details" asp-route-id="@item.StoreId">
                                <img class="card-img-top" style="border-radius:10px; object-fit: cover; width: 100%;" src="~/images/default-banner.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="content-carousel">
                            <h5 class="card-title">@Html.DisplayFor(model => item.StoreName)</h5>
                            <p class="card-text text-center club-description">@Html.DisplayFor(model => item.StoreDescription)</p>
                        </div>
                    </div>
                }
            }
            else
            {
                @foreach (var item in Model.store)
                {
                    <div class="card-carsoule col-sm-8">
                        <div class="img-carousel">
                            <a class="success" asp-controller="Stores" asp-action="Details" asp-route-id="@item.StoreId">
                                <img class="card-img-top" style="border-radius:10px; object-fit: cover; width: 100%;" src="~/images/default-banner.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="content-carousel">
                            <h5 class="card-title">@Html.DisplayFor(model => item.StoreName)</h5>
                            <p class="card-text text-center club-description">@Html.DisplayFor(model => item.StoreDescription)</p>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
<script>
    $(".clubs-carousel").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000, //2000ms = 2s;
        autoplayHoverPause: true,
        nav: true,
    });
</script>