@model OneStopShop.Models.Orders


@{
    ViewData["Title"] = "Create";
    Layout = "_HomeLayout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Checkout.css" />
</head>

<h2 style="text-align:center">Check out </h2>
<table class="table table-striped" style="color: white; font-weight:700;">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {
            <tr>

                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.ProductName</td>
                <td class="text-right">@line.Product.ProductPrice.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.ProductPrice).ToString("c"))
                </td>              
                                  
                
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Lines.Sum(e => e.Product.ProductPrice * e.Quantity).ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<p class="pheader">Please enter your details, and we'll ship your goods right away!</p>


<div class="checkout-container">
    <h1>Shipping Address</h1>

    <hr />
    <div class="row">
        <div class="col-md-10">
            <form asp-action="Checkout" method="post">

                @Html.HiddenFor(model => model.OrderId)
                <div class="form-group">
                    <label>Name:</label><input asp-for="CustomerName" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Line 1:</label><input asp-for="Line1" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Line 2:</label><input asp-for="Line2" class="form-control" />
                </div>

                <div class="form-group">
                    <label>City:</label><input asp-for="City" class="form-control" />
                </div>
                <div class="form-group">
                    <label>State:</label><input asp-for="State" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Zip:</label><input asp-for="Zip" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Country:</label><input asp-for="Country" class="form-control" />
                </div>

                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Make Payment" />
                </div>
            </form>

        </div>
    </div>

