@model OneStopShop.Models.Orders

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Order Details";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/OrderDetails.css" />    
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4 class="OrderDetails">Order Details</h4>
        @*<table>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.OrderId)</td>
                    <td>@Html.DisplayFor(model => model.OrderId)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.CustomerName)</td>
                    <td>@Html.DisplayFor(model => model.StoreId)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.City)</td>
                    <td>@Html.DisplayFor(model => model.ProductID)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Country)</td>
                    <td>@Html.DisplayFor(model => model.OrderCreatedDate)</td>
                </tr>
            </table>*@


        <div id="divInline">
            <table>
                <tr>
                    <td class="font-weight-bold">Order ID</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Date Created</td>
                    <td>@DateTime.Now.ToString()</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Order Status</td>
                    <td>
                        <select class="form-control" name="OrderStatus">
                            <option value="Pending" selected>Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold"> Customer Name</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Address</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">City</td>
                    <td></td>
                </tr>
            </table>
        </div>



    </div>
    <div class="row" style="margin-top: 22px;">
        <table class="producttable">
            <thead>
                <tr>
                    <th class="th">Product ID</th>
                    <th class="th">Product Name</th>
                    <th class="th">Price</th>
                    <th class="th">Quantity</th>
                    <th class="th">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var line in Model.Lines)
                    {*@

                <tr>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                </tr>
                <tr>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                </tr>

                @*}*@
            </tbody>
        </table>
    </div>
    <div style="margin-bottom: 50px;">
        <a id="Back" asp-action="Index">Back to List</a>
    </div>
</body>
</html>