@model Tuple<OneStopShop.Models.Product, OneStopShop.Models.OrderItem, OneStopShop.Models.Orders>

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Order Details";
}
<!DOCTYPE html>

<script language="javascript" type="text/javascript">
    function CallPrint(strid) {
        var prtContent = document.getElementById(strid);
        var WinPrint = window.open('', '', 'letf=0,top=0,width=800,height=100,toolbar=0,scrollbars=0,status=0,dir=ltr');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
        prtContent.innerHTML = strOldOne;
    }
</script>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="~/css/OrderDetails.css" />
	<meta name="viewport" content="width=device-width" />
	<title>Details</title>
</head>
<body>
    <div>
        <h4 class="OrderDetails">Order Details</h4>
        <div id="divInline">
            <table>
                <tr>
                    <td class="font-weight-bold">Order ID</td>
                    <td>@Model.Item2.OrderId</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Date Created</td>
                    <td>@Model.Item3.OrderCreatedDate</td>
                </tr>
                <tr>
                    <td class="font-weight-bold"> Customer Name</td>
                    <td>@Model.Item3.CustomerName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Address</td>
                    <td>@Model.Item3.Line1 @Model.Item3.Line2 @Model.Item3.Zip</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">City</td>
                    <td>@Model.Item3.City</td>
                </tr>
            </table>
        </div>



    </div>
    <div class="row" style="margin-top: 22px;">
        <table class="producttable">
            <thead>
                <tr>
                    <th class="th">Product ID</th>
                    <th class="th">Product Name</th>
                    <th class="th">Price</th>
                    <th class="th">Quantity</th>
                    <th class="th">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var line in Model.Lines)
                    {*@

                <tr>
                    <td class="td">@Model.Item1.ProductID</td>
                    <td class="td">@Model.Item1.ProductName</td>
                    <td class="td">@Model.Item1.ProductPrice</td>
                    <td class="td">@Model.Item2.Quantity</td>
                    <td class="td">@Model.Item2.Cost</td>
                </tr>

                @*}*@
            </tbody>
        </table>
    </div>
    <div style="margin-bottom: 50px;">
        <a id="Back" asp-action="Index" asp-route-id="@Model.Item2.StoreId">Back to List</a>
    </div>
</body>
</html>