@model OneStopShop.Models.ViewModel

<h2 style="text-align:center">Check Out</h2>

<div class="row">
    <div class="col-sm-12" id="results">

        @foreach (var item in Model.product)
        {

            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="col-sm-3 float-left mb-">

                        @if (item.ProductImage == null)
                        {
                            <img class="card-img-top" style="border-radius:10px; object-fit: cover; width: 100%; height: 20vh" src="~/images/default-banner-ssf.png" alt="Card image cap">
                        }

                        else
                        {

                            <img class="card-img-top" style="border-radius:10px; object-fit: cover; width: 100%; height: 20vh" src="~/@item.ProductImage" alt="Card image cap">
                        }
                    </div>
                    <div class="col-sm-4 float-left">
                        <h5 class="card-title"><a asp-area="Student" asp-controller="Event" asp-action="Details" asp-route-EventsID="@item.ProductID"> @item.ProductName</a></h5>
                        <div class="btn-group pl-1" role="group">

                            <p data-toggle="tooltip" data-placement="top" title="Event Date">    <i class="far fa-calendar-alt"></i> @item.ProductPrice</p>
                        </div>
                        <p class="card-text">@item.ProductDescription</p>
                    </div>
                    
                    
                </div>
            </div>

        }
    </div>
</div>

<div class="text-center">
    @*<a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>*@
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">Checkout</a>
</div>
