@model OneStopShop.Models.Cart

<head>
    <link href="~/css/Cart.css" rel="stylesheet" />
</head>
<h2 class="YourCart">Your cart</h2>
<table class="table  table-striped">
    <thead>
        <tr>
            <th class="th">Product Image</th>
            <th class="th">Quantity</th>
            <th class="th">Item</th>
            <th class="th">Price</th>
            <th class="th">Subtotal</th>
            <th class="th">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {

            <tr>
                <td class="td"><img src="~/@line.Product.ProductImage" height="auto" width="200" /></td>
                <td class="td">@line.Quantity</td>
                <td class="td">@line.Product.ProductName</td>
                <td class="td">@line.Product.ProductPrice.ToString("c")</td>
                <td class="td">
                    @((line.Quantity * line.Product.ProductPrice).ToString("c"))
                </td>
                <td class="td">
                        @*<form asp-action="RemoveFromCart" method="post">
                <input type="hidden" name="ProductID"
                       value="@line.Product.ProductID" />
                <input type="hidden" name="returnUrl"
                       value="@Model.ReturnUrl" />
                <button type="submit" class="btn btn-sm btn-danger">
                    Remove
                </button>
            </form>*@

                    <form asp-action="RemoveFromCart" asp-route-id="@line.Product.ProductID"
                          method="post">

                        <input type="hidden" asp-route-id="@line.Product.ProductID" />

                            <span class="col-sm-2 float-right">

                            <button type="submit"
                                    class="btn btn-danger btn-sm pull-right"
                                    style="float:right">
                                Remove From Cart
                            </button>
                        </span>
                    </form>
                </td>
            </tr>

        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="th">Total:</td>
            <td class="th">
                @*@Model.ComputeTotalValue().ToString("c")*@
            </td>
            <td class="th"> @Model.ComputeTotalValue().ToString("c")</td>
            <td class="th"></td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    @*<a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>*@
    @*<a class="btn btn-primary" asp-controller="Stores" asp-action="Index">Continue Shopping</a>*@
</div>

<div class="text-center">
    @*<a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>*@
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Continue Shopping</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Orders">Checkout</a>


</div>