@model Tuple<IList<OneStopShop.Models.Subscribers>, int>

@{
    ViewData["Title"] = "Subscribers";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/StoreIndex.css" />
</head>

<body>
    <div id="divInline">
        <h2>List Of Subscribers</h2>
    </div>
    <div id="div">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Item1[0].Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item1[0].email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item1[0].IsOwner)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsOwner)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a id="Back" asp-controller="Stores" asp-action="Dashboard" asp-route-id="@Model.Item2">Back</a>
</body>
