@model OneStopShop.Models.CustomOrders

@{
	ViewData["Title"] = "Details";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/OrderDetails.css" />
	<meta name="viewport" content="width=device-width" />
</head>

<div class="co-container">
	<h2>Custom Order Details</h2>
	<div class="customer-info">
		<table class="customer-info-table">
			<tr>
				<td class="text-uppercase text-center" colspan="2"><h3>Personal Info</h3></td>
			</tr>
			<tr>
				<td class="font-weight-bold">
					@Html.DisplayNameFor(model => model.email)
				</td>
				<td>
					@Html.DisplayFor(model => model.email)
				</td>
			</tr>
			<tr>
				<td class="font-weight-bold">
					@Html.DisplayNameFor(model => model.PhoneNum)
				</td>
				<td>
					@Html.DisplayFor(model => model.PhoneNum)
				</td>
			</tr>
			<tr>
				<td class="font-weight-bold">
					@Html.DisplayNameFor(model => model.OrderCreatedDate)
				</td>
				<td>
					@Html.DisplayFor(model => model.OrderCreatedDate)
				</td>
			</tr>
			<tr>
				<td class="font-weight-bold">
					@Html.DisplayNameFor(model => model.Description)
				</td>
				<td>
					@Html.DisplayFor(model => model.Description)
				</td>
			</tr>
			<tr>
				<td class="font-weight-bold text-capitalize">
					@Html.DisplayNameFor(model => model.ProductType)
				</td>
				<td>
					@Html.DisplayFor(model => model.ProductType)
				</td>
			</tr>
			<tr>
				<td class="font-weight-bold">
					@Html.DisplayNameFor(model => model.AddressLine1)
				</td>
				<td>
					@Html.DisplayFor(model => model.AddressLine1)<br />
					@Html.DisplayFor(model => model.AddressLine2)
				</td>
			</tr>
		</table>
	</div>
	<div class="measurements">
			<div id="top">
				@*<h3 class="text-uppercase text-center">top</h3>*@
				<table class="top-table">
					<tr>
						<td class="text-uppercase text-center" colspan="2"><h3>Top</h3></td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.Chest)</td>
						<td>@Html.DisplayFor(model => model.Chest)</td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.Neck)</td>
						<td>@Html.DisplayFor(model => model.Neck)</td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.Shoulder)</td>
						<td>@Html.DisplayFor(model => model.Shoulder)</td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.Sleeve)</td>
						<td>@Html.DisplayFor(model => model.Sleeve)</td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.Waist)</td>
						<td>@Html.DisplayFor(model => model.Waist)</td>
					</tr>
				</table>
			</div>
			<div id="bottom">
				@*<h3 class="text-uppercase text-center">bottom</h3>*@
				<table class="bottom-table">
					<tr>
						<td class="text-uppercase text-center" colspan="2"><h3>Bottom</h3></td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.Hip)</td>
						<td>@Html.DisplayFor(model => model.Hip)</td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.InseamLength)</td>
						<td>@Html.DisplayFor(model => model.InseamLength)</td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.FullLength)</td>
						<td>@Html.DisplayFor(model => model.FullLength)</td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.AnkleLength)</td>
						<td>@Html.DisplayFor(model => model.AnkleLength)</td>
					</tr>
					<tr>
						<td class="font-weight-bold">@Html.DisplayNameFor(model => model.Waist)</td>
						<td>@Html.DisplayFor(model => model.Waist)</td>
					</tr>
				</table>
			</div>
	</div>
	<div class="pt-5 text-center">
		<a asp-action="Index" asp-route-id="@Model.StoreId" class="btn btn-danger">Back to list</a>
	</div>
</div>

@*Javascript to display only the info of the protuct type that was selected*@
@if (Model.ProductType == "top")
{

	<script type="text/javascript">
		document.getElementById('top').style.display = 'block';
		document.getElementById('top').style.float = 'none';
		document.getElementById('bottom').style.display = 'none';
	</script>
}
else if (Model.ProductType == "bottom")
{
	<script type="text/javascript">
		document.getElementById('bottom').style.display = 'block';
		document.getElementById('top').style.display = 'none';
	</script>
}
else if (Model.ProductType == "both")
{
	<script type="text/javascript">
		document.getElementById('top').style.display = 'block';
		document.getElementById('top').style.float = 'left';
		document.getElementById('bottom').style.display = 'block';
	</script>
}