@model OneStopShop.Models.CustomOrders

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" type="text/css" href="~/css/CustomDetails.css" />

<h1>Details</h1>

<div>
    <h4>CustomOrders</h4>
    <hr />

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderCreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Neck)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Neck)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoulder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoulder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sleeve)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sleeve)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Waist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Waist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InseamLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InseamLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnkleLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnkleLength)
        </dd>
    </dl>

</div>
<div>
    |
    <a asp-action="Index" asp-route-id="@Model.StoreId">Back to List</a>
</div>
