@model IEnumerable<OneStopShop.Models.CustomOrders>

@{
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/CustomList.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
 <br />
<h3>Custom Order List</h3>
     <br />
    
    <table class="table">
        <thead style="background-color: #031327">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.StoreId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CustomOrderID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.OrderCreatedDate)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.StoreId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomOrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCreatedDate)
                    </td>

                    <td>

                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.CustomOrderID">Details</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
